 
 .editImg{
  width: 32px;
}
.img{
  width: 32px;
}

 .container {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 407px;
  min-height: 150px;
  height: auto;
  border-radius: 5px;
  background-color: #bab4b4;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  flex: 1;
  height: 18px;
  padding: 10px;
  margin-right: 5px;
  border: 1px;
  border-radius: 2px;
  border-color: #d8d8d8;
  border-style: solid;
  outline: none;
}

.addBut {
  color: #0d0000;
  background-color: #f2f2f2;
  height: 42px;
  width: 70px;
  border: none;
  border-radius: 16px;
  margin-left: -3px;
}

.addBut:hover {
  background-color: rgba(88, 97, 104, 0.908);
}

.block {
  width: 100%;
  height: auto;
}

.articleContainer {
  display: flex;
  align-items: center;
}

.artic {
  padding: 4px;
  flex: 1 1;
  background-color: #d8d8d8;
  padding-left: 8px;
  margin-right: 2px;
}

.buttonContainer {
  display: flex;
}

.delete {
  height: 40px;
  width: 40px;
  background-color: #e8e8e8;
  border: none;
  border-radius: 0 2px 2px 0;
}

.delete:hover {
  background-color: red;
}

.buttonCompl {
  margin-top: 10px;
}

.buttonCompl button {
  margin-right: 5px;
}

.buttonCompl button:last-child {
  margin-right: 0;
}
.editImg{
  width: 32px;
}
.img{
  width: 32px;
}
